#backend
backend/.env
backend/node_modules/

#ui
# Logs
ui/logs
ui/*.log
ui/coverage
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/lerna-debug.log*

ui/node_modules
ui/dist
ui/dist-ssr
ui/*.local
ui/yarn.lock

# Editor directories and files
ui/.vscode/*
ui/!.vscode/extensions.json
ui/.idea
ui/.DS_Store
ui/*.suo
ui/*.ntvs*
ui/*.njsproj
ui/*.sln
ui/*.sw?

