@import '../../../../constants/colors.scss';
@import '../../../../constants/measurements.scss';

.dropdownComponent {
  width: $input_width;
  background-color: $white;
  position: absolute;
  border-radius: $border_radius;
  padding: $padding;
  z-index: 1;
  border: 1px solid $black;
  filter: drop-shadow(5px 6px 6px rgba(0, 0, 0, 0.3));
}
