@import '../../constants/colors.scss';
@import '../../constants/measurements.scss';

$label_size: 16px;
$input_center: calc($input_height / 2 - $label_size / 2);
$animation_ms: 200ms;

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputLabel {
  position: absolute;
  top: $input_center;
  left: $padding;
  font: normal normal 500 $label_size Inter, Avenir, Helvetica, Arial,
    sans-serif;
}

.inputLabelAnimateUp {
  top: $padding;
  font: normal normal 500 14px Inter, Avenir, Helvetica, Arial, sans-serif;
  animation: moveUpOnFocus $animation_ms linear;
}

.inputLabelAnimateDown {
  top: $input_center;
  animation: moveDownOnBlur $animation_ms linear;
}

.inputComponent {
  background-color: transparent;
  border-radius: $border_radius;
  border: 1px solid $black;
  height: $input_height;
  width: $input_width;
  padding: $padding;
  padding-top: 30px;
  font: normal normal 500 $label_size Inter, Avenir, Helvetica, Arial,
    sans-serif;
}

@keyframes moveUpOnFocus {
  from {
    top: $input_center;
  }
  to {
    top: $padding;
  }
}

@keyframes moveDownOnBlur {
  from {
    top: $padding;
  }
  to {
    top: $input_center;
  }
}
